*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header h1{
    text-align: center;
}
.container{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;
}

#grid{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    background: gray;
}
/* #grid:hover{
    background: red;
} */